.special {
  color: orange;
  border: 0.5px solid orange;
  background-color: white;
  height: 3rem;
  width: 1.6rem;
}

.special:hover {
  color: white;
  border: 0.5px solid orange;
  background-color: orange;
}

.ops {
  color: gray;
  border: 0.5px solid gray;
  background-color: white;
  height: 3rem;
  width: 1.6rem;
}

.ops:hover {
  color: white;
  border: 0.5px solid gray;
  background-color: gray;
}

.nums {
  color: gray;
  border: 0.5px solid gray;
  background-color: white;
  height: 3rem;
  width: 1.6rem;
  background-color: rgb(255, 200, 97);
  color: rgb(80, 52, 0);
}

.nums:hover {
  color: white;
  border: 0.5px solid gray;
  background-color: gray;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.parent-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 60%;
  width: 100%;
}
section .frame {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .frame .cal-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .frame .cal-container .display {
  display: grid;
}
section .frame .cal-container .calc-module {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .frame .cal-container .calc-module .operators {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .frame .cal-container .calc-module .operators .slot {
  display: grid;
  grid-template-areas: "grid-one-one" "grid-one-two" "grid-one-three" "grid-one-four" "grid-one-five" "grid-one-six" "grid-one-seven";
}
section .frame .cal-container .calc-module .operators .slot :nth-child(1) {
  grid-area: grid-one-one;
}
section .frame .cal-container .calc-module .operators .slot :nth-child(1) {
  grid-area: grid-one-one;
}
section .frame .cal-container .calc-module .operators .slot :nth-child(3) {
  grid-area: grid-one-three;
}
section .frame .cal-container .calc-module .operators .slot :nth-child(4) {
  grid-area: grid-one-four;
}
section .frame .cal-container .calc-module .operators .slot :nth-child(5) {
  grid-area: grid-one-five;
}
section .frame .cal-container .calc-module .operators .slot :nth-child(6) {
  grid-area: grid-one-six;
}
section .frame .cal-container .calc-module .operators .slot :nth-child(7) {
  grid-area: grid-one-seven;
}
section .frame .cal-container .calc-module .keys {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .frame .cal-container .calc-module .keys .keys-module {
  display: grid;
  grid-template-areas: "grid-two-one grid-two-two grid-two-three" "grid-two-four grid-two-five-grid-two-six" "grid-two-seven grid-two-eight grid-two-nine" ". grid-two-ten .";
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(1) {
  grid-area: grid-two-one;
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(2) {
  grid-area: grid-two-two;
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(3) {
  grid-area: grid-two-three;
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(4) {
  grid-area: grid-two-four;
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(5) {
  grid-area: grid-two-five;
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(6) {
  grid-area: grid-two-six;
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(7) {
  grid-area: grid-two-seven;
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(8) {
  grid-area: grid-two-eight;
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(9) {
  grid-area: grid-two-nine;
}
section .frame .cal-container .calc-module .keys .keys-module :nth-child(10) {
  grid-area: grid-two-ten;
}

footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
