*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

.parent-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parent-container header {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-container header .logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-container header h1 {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 78, 0);
}
.parent-container header .clock {
  padding-right: 4rem;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.parent-container header .clock span {
  font-size: 60px;
  color: rgb(0, 78, 0);
}
.parent-container section {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-container section .Form-container {
  color: green;
  border: 0.5px solid green;
  box-shadow: 0.4rem 0.4rem green;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.parent-container section .Form-container form {
  width: 100%;
}
.parent-container section .Form-container .errors {
  padding-top: 6rem;
  width: 100%;
  height: 2rem;
}
.parent-container footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

form {
  color: green;
  border: 0.5px solid green;
  box-shadow: 0.4rem 0.4rem green;
  height: 80%;
  border: none;
  box-shadow: initial;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
form .Fields {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 0.2rem;
}
form .Fields sup {
  color: green;
  border: 0.5px solid green;
  box-shadow: 0.4rem 0.4rem green;
  font-family: "Arial, Helvetica, sans-serif";
  box-shadow: initial;
  border: none;
}
form .Fields p {
  color: green;
  border: 0.5px solid green;
  box-shadow: 0.4rem 0.4rem green;
  font-family: "Arial, Helvetica, sans-serif";
  box-shadow: initial;
  border: none;
}
form .Fields label {
  color: green;
  border: 0.5px solid green;
  box-shadow: 0.4rem 0.4rem green;
  font-family: "Arial, Helvetica, sans-serif";
  border: none;
  box-shadow: initial;
  justify-self: center;
  align-self: start;
  width: 100%;
}
form .Fields input[type=text] {
  padding-left: 0.4rem;
  height: 1.8rem;
  width: 100%;
  justify-self: left;
  align-self: start;
}
form .Fields input[type=text] ::placeholder {
  font-size: 1rem;
  padding-left: 1rem;
  color: #fff;
}
form .Fields input[type=text]:focus {
  background-color: rgb(0, 230, 0);
  color: #fff;
}
form .Fields input[type=tel] {
  padding-left: 0.4rem;
  height: 1.8rem;
  width: 100%;
  justify-self: left;
  align-self: start;
}
form .Fields input[type=tel] ::placeholder {
  font-size: 1rem;
  padding-left: 1rem;
  color: #fff;
}
form .Fields input[type=tel]:focus {
  background-color: rgb(0, 230, 0);
  color: #fff;
}
form .Fields input[type=date] {
  padding-left: 0.4rem;
  height: 1.8rem;
  width: 100%;
  justify-self: left;
  align-self: start;
}
form .Fields input[type=date] ::placeholder {
  font-size: 1rem;
  padding-left: 1rem;
  color: #fff;
}
form .Fields input[type=date]:focus {
  background-color: rgb(0, 230, 0);
  color: #fff;
}
form .Fields input[type=number] {
  padding-left: 0.4rem;
  height: 1.8rem;
  width: 100%;
  justify-self: left;
  align-self: start;
}
form .Fields input[type=number] ::placeholder {
  font-size: 1rem;
  padding-left: 1rem;
  color: #fff;
}
form .Fields input[type=number]:focus {
  background-color: rgb(0, 230, 0);
  color: #fff;
}
form .Fields select {
  width: 100%;
  height: 1.6rem;
  align-self: start;
}
form .Fields:nth-child(6) {
  padding: 1.3rem;
  flex-direction: row;
}
form .Fields:nth-child(6) input[type=radio] {
  padding-right: 1rem;
}
form .Fields:nth-child(6) :nth-child(n) {
  justify-self: center;
  padding-right: 1rem;
  width: 30%;
}
form p.legend {
  width: 80%;
  align-self: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
}
form button.formbtn {
  height: 1.4rem;
  width: 5rem;
  font-size: 1rem;
  padding: 0.2rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  background-color: rgb(0, 78, 0);
  color: #fff;
  margin-right: 1rem;
}
form button.formbtn:hover {
  background-color: rgb(10, 131, 10);
}

/*# sourceMappingURL=styles.css.map */
