


//palette

$primary-color-1-a: rgb(255, 192, 75);
$primary-color-1-b: rgb(255, 200, 97);
$primary-color-1-c: rgb(174, 113, 0);
$primary-color-1-d: rgb(80, 52, 0);

$primary-color-2: orangered;

$primary-color-2-a: orangered;
$primary-color-2-b: rgb(169, 45, 0);
$primary-color-2-c: rgb(62, 17, 0);
$primary-color-2-d: rgb(255, 164, 131);
